<ion-view title="Championships" id="page2">
    <ion-content padding="true" class="has-header">
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="search" placeholder="Search" ng-model="movie.name" ng-change="searchMovieDB()">
        </label>
        <ion-list id="visitors-list1" class=" ">
            <ion-item class="item-avatar item-icon-right positive" ng-repeat="championship in championships" id="{{championship.eventId}}" ui-sref="tabsController.eventtracks({id: championship.eventId})">
                <md-button>
                    <img src="img/{{championship.event}}.png" style="width: 60px; height: 60px;">
                </md-button>
                <h2>{{championship.event}}</h2>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>