<ion-view title="My Account" id="page11" class=" ">
    <ion-content padding="true" class="has-header">
        <div>
            <img src="img/Auz5pz56QjOCRwhUIbTt_Nikhil.png" class="darbaan-image" width="auto" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <h3 id="myAccount-heading3" style="color:#000000;text-align:center;" class=" ">Nikhil Rai</h3>
        <ion-list id="myAccount-list9" class=" ">
            <ion-item class="item-icon-left  " id="myAccount-list-item10">
                <i class="icon ion-ios-home"></i>Owner</ion-item>
            <ion-item class="item-icon-left  " id="myAccount-list-item12">
                <i class="icon ion-ios-telephone"></i>9819051968</ion-item>
        </ion-list>
    </ion-content>
</ion-view>