<ion-view title="Scores" id="page3">
    <ion-content padding="true" class="has-header">
        <ion-list id="visitor-list7" class="item-icon-left item-icon-right">
            <ion-item class="item-icon-left item-icon-right" ng-repeat="score in scores" id="{{score.eventScoreId}}">
                <md-button>
                    <img src="img/{{score.userVO.firstName}}{{score.userVO.lastName}}.png" style="width: 60px; height: 60px; float: left;">
                </md-button>
                <!--<span><img src="img/{{score.userVO.firstName}}{{score.userVO.lastName}}.png" style="width: 60px; height: 60px;">-->
				<span class="item-name">{{score.userVO.firstName}} {{score.userVO.lastName}}</span>
				
                <span class="item-score">{{score.eventScore}}</span>
                <span class="item-rank"><img src="img/{{score.rank}}.png" style="width: 60px; height: 60px;"></span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>