<ion-view title="Tracks" id="page4">
    <ion-content padding="true" class="has-header">
        <ion-list id="tracks-list" class="item-icon-left item-icon-right">
            <ion-item class="item-icon-left item-icon-right" ng-repeat="eventTrack in eventTracks" id="{{eventTrack.eventTrackId}}" ui-sref="tabsController.scores({id: eventTrack.eventTrackId})">
                <md-button>
                    <img src="img/{{eventTrack.trackVO.track}}.png" style="width: 60px; height: 60px;">
                </md-button>
                <h2>{{eventTrack.trackVO.track}}</h2>
                <span class="item-note">{{eventTrack.trackCategoryVO.trackCategory}}</span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>